<% content_for :title, "New article" %>

<main class="container flex-grow-1">
  <h1>New article</h1>

  <%= render "form", article: @article %>

  <br>

  <div>
    <%= link_to "Back to articles", articles_path %>
  </div>
</main>
