<% content_for :title, "New author" %>

<main class="container flex-grow-1">
  <h1>New author</h1>

  <%= render "form", author: @author %>

  <br>

  <div>
    <%= link_to "Back to authors", authors_path %>
  </div>
</main>