<article class="pixel-border p-4 cursor-pointer">
    <header>
        <div class="d-flex align-items-center">
            <p class="mb-0 small me-1 text-muted-foreground">December 1, 2023</p>

            <div class="d-flex">
                <span class="badge bg-secondary text-xs me-1">
                    Cloud
                </span>
                <span class="badge text-xs border me-1 text-brown">
                    architecture
                </span>
            </div>
        </div>
    <header>


    <h2 class="text-primary fw-bold mt-2">
        Introduction to Serverless Computing
    </h2>

    <p class="text-muted-foreground mt-4">
        Serverless computing doesn't mean there are no servers. It means you, the developer, don't have to manage them. Cloud providers like AWS (Lambda), Google Cloud (Cloud Functions), and Azure (Functions) handle the provisioning and scaling of servers fo
    </p>

</article>

<div style="height: 1px;" class="mt-12 bg-border w-100"></div>
