<% content_for :title, "Editing project" %>

<main class="container flex-grow-1">
  <h1>Editing project</h1>

  <%= render "form", project: @project %>

  <br>

  <div>
    <%= link_to "Back to projects", projects_path %>
  </div>
</main>
