<% content_for :title, "Projects" %>


<main class="container flex-grow-1">
    <h1 class="fw-bold text-primary">Projects</h1>
    <div class="mt-4">
      <div class="rounded-lg">   
        <div id="projects" class="row">
          <% @projects.each do |project| %>
            <div class="col-lg-6">
              <%= render project %>
            </div>
          <% end %>
        </div>

        <% if current_user.present? %>
          <div class='mt-4'>
            <%= link_to "New project", new_project_path %>
          </div>
        <% end %>
      </div>
    </div>
</main>

