<div id="<%= dom_id tag %>" class="bg-secondary bg-hover-pink me-4 px-4 py-2">
  <span class='fw-bold text-white fs-5 cursor-pointer'> <%= tag.name %></span>

  <% if current_user.present? %>
    <div>
      <%= link_to "Edit this tag", edit_tag_path(tag), class: 'text-white'  %>
      <%= button_to "Destroy this tag", tag, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'mt-2' %>
    </div>
  <% end %>
</div>
