<% content_for :title, "Editing tag" %>

<main class="container flex-grow-1">
  <h1>Editing tag</h1>

  <%= render "form", tag: @tag %>

  <br>

  <div>
    <%= link_to "Back to tags", tags_path %>
  </div>
</main>