<% content_for :title, "Tags" %>


<main class="container flex-grow-1">
    <h1 class="fw-bold text-primary">Tags</h1>
    <div class="mt-4">
      <div class="rounded-lg border bg-card p-6">   
        <div id="tags" class="d-flex">
          <% @tags.each do |tag| %>
            <%= render tag %>
          <% end %>
        </div>

        <% if current_user.present? %>
          <div class='mt-4'>
            <%= link_to "New tag", new_tag_path %>
          </div>
        <% end %>
      </div>
    </div>
</main>

