@import 'variables';

.bg-muted\/50{
    background-color: $color-linen;
}

.border{
    border-color: $border-color !important;
    border-width: 1px;
}

.border-2{
    border-width: 2px;
}

.border-bottom-2 {
    border-bottom-width: 2px;
}

.border-dashed {
    border-style: dashed;
    border-color: $dashed-border-color;
}

.bg-border{
    background-color: $border-color !important;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.text-sm{
    font-size: .875rem;
    line-height: 1.25rem;
}

.mb-8{ margin-bottom: 2rem; }
.mt-12{ margin-top: 3rem; }

.text-muted-foreground{
    color: $color-muted-brown;
}

.text-brown{
    color: $color-brown;
}

.pixel-border{
    border: 2px dashed #0000;
}

.badge {
  border-radius: 0 !important;
}

.cursor-pointer{
    cursor: pointer;
}