$primary: rgba(20, 184, 184, 1);
$secondary: rgba(148, 112, 219, 1);

$color-light: rgb(255, 244, 229);
$color-brown: #483b35;
$color-light-brown: rgba(73, 60, 54, 1);
$color-linen: rgba(240, 231, 219, 0.5);
$color-pink: rgba(240, 117, 179, 1);
$color-white: rgba(255, 255, 255, 1);
$color-gray: #e5e7eb;
$color-muted-brown: rgba(126, 111, 103, 1);

$color-circle-dot: #493d361a;

$border-color: rgba(232, 219, 201, 1);
$dashed-border-color: rgba(73, 60, 54, 0.5);