@font-face {
  font-family: "VT323";
  src: url("VT323-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*, :before, :after {
    box-sizing: border-box;
    border: 0 solid $color-gray;
}

body{
    background-color: $color-light !important;
    color: $color-brown;
    background-image: radial-gradient($color-circle-dot 1px, transparent 1px);
    background-size: 8px 8px;
    font-family: 'VT323', monospace;
}
