<div class="card mt-4">
  <div class="card-header">
    <h3 class="card-title">Two-Factor Authentication</h3>
  </div>
  
  <div class="card-body" id="two-factor-section">
    <%= render 'admin/users/registrations/two_factor_status' %>
  </div>
</div>