<% content_for :title, "Categories" %>

<main class="container flex-grow-1">
    <h1 class="fw-bold text-primary">Categories</h1>
    <div class="mt-4">
      <div class="rounded-lg border bg-card p-6">   
        <div id="categories" class="d-flex">
          <% @categories.each do |category| %>
            <%= render category %>
          <% end %>
        </div>

        <% if current_user.present? %>
          <div class='mt-4'>
          <%= link_to "New category", new_category_path %>
          </div>
        <% end %>
      </div>
    </div>
</main>

