<footer class="text-muted-foreground py-6 border-border/50 border-t">
    <div class="text-center mx-auto px-4">
        <p><span>© 2025</span> Bitwise Blog. All rights reserved.</p>
    </div>
</footer>